/* .pr{
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 9px;
  color: red;

}
main{
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 0 35px;
  min-height: 100vh;
 
}


.wrapper{
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i{
  height: 50px;
  width: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50% ;
  cursor: pointer;
  position: absolute;
  top:50%;
  font-size:1.25rem ;
  transform: translateY(-50);
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  color: black;
}
.wrapper i:first-child{
  left: -22px;

}
.wrapper i:last-child{
  right: -22px;

}

.card{
  scroll-snap-align: start;
  list-style: none;
  background-color: black;
  border-radius: 8px;
  height: 700px;
  display: flex;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.carousel::-webkit-scrollbar{
  display: none;
}
.carousel.no-transition{
  scroll-behavior: auto;

}

.carousel.dragging{
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card{
  cursor: grab;
  user-select: none;
}
.img{
  width: 250px;
  height: 250px; 
  border-radius: 8px;
}
.img2{
  width: 300px;
  height: 250px; 
  border-radius: 8px;
  text-align: center;
}
.img1{
  width:250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
H2{
  font-weight: 500;
  font-size: 50px;
  margin: 30px 0 5px;
  color: red;
  
}
span{
  font-size: 1.31rem;
  color: white;

}

.container2{
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.h1b{
  margin-left: 100px;
  letter-spacing: 8px;
  font-size: 60px;
  color: #CE1212;
}
.h1a{
  margin-left: 100px;
  letter-spacing: 8px;
  font-size: 60px ;
  
}
.main2{
  width: 320px;
  overflow: hidden;
  margin-right: 50px; 

}
.h2c{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #CE1212;
  font-size: 40px;
}
@media screen and (max-width: 900px ){
  .wrapper .carousel{
    grid-auto-columns: calc((100% / 2) - 12px);
  }
  
}
@media screen and (max-width: 600px ){
  .wrapper .carousel{
    grid-auto-columns: 100%;
  }
  
} */